html, body {
    overflow-x: hidden;
  }

body {
    background-color: rgba(0, 0, 0, 0.12);;
}

.bg-white {
    background-color: white;
}

.logo {
    font-family: 'Major Mono Display', monospace;
    font-size: 2rem;
    /* font-family: 'Roboto Mono', monospace; */
}

.navbar-icons .icon{
    color: black;
}

.welcome {
    background-image: url('../images/background/tea.png');
    height: 90vh;
    width: 100%;
    position: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icon {
    font-size: 30px;
}

.welcome-texts {
    padding-left: 20%;
    padding-top: 15%;
}


.welcome-texts h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 4rem;
}


.welcome-texts p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1.2rem;
}

.image-fade-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.big-image {
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../images/background/green-tea.jpg');
    text-align: left;
    transition: all 1s;
}

.big-image:hover {
    transform: scale(1.2);
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.overlay h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 50px;
}

.overlay p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 20px;
}

.overlay .sell-tea {
    font-family: 'Major Mono Display', monospace;
    font-size:40px;
}

/*CARD*/
.shadow-card {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*FOOTER*/

.image-fade-container-footer{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.big-image-footer {
    height: 80vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../images/background/night2.jpg');
    text-align: left;
    transition: all 1s;
}

.overlay-footer {
  position: absolute;
  height: 80vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.overlay-footer h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
}

.overlay-footer p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.text-footer {
    width: 50%;
    height: 40px;
}

.p-50 {
    padding: 0 25%;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

/* Products */

.selected-img{
    width: 290px;
    height: 290px;
}

.small-img {
    width: 75px;
    height: 75px;
}

.small-img img {
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.small-img img:hover {
    transform: scale(1.2);
}

/* User */

input {
    padding: 5px;
    border: solid 1px gray;
    border-radius: 5px;
}

.login-facebook {
    font-weight: 500 !important;
}

.btn-facebook {
    color: #fff;
    font-weight: 400;
    background-color: #3B5998;
    border-color: #3B5998;
  }
  
.btn-facebook:hover {
    color: #3B5998;
    background-color: transparent;
    background-image: none;
    border-color: #3B5998;
    font-weight: 500;
}

.btn-google {
    color: #fff;
    font-weight: 400;
    background-color: #D44638;
    border-color: #D44638;
  }
  
.btn-google:hover {
    color: #D44638;
    background-color: transparent;
    background-image: none;
    border-color: #D44638;
    font-weight: 500;
}

.error {
    color:  red;
}

/*Cart*/
.cart-content {
    max-width: 800px;
    margin: auto;
  }

.chevron {
    font-size: 20px;
    color: black;
}

/*dividers*/
.horizontal-divider {
    border-top: 1px solid black;
    width: 100%;
    opacity: 0.3;
}

.vertical-divider {
    border-left: 1px solid black;
    height: 70px;
    opacity: 0.2;
}

.vertical-align-middle {
    vertical-align:middle !important
}

.increase-amount {
    font-size: 16px;
    color: grey;
}

.decrease-amount {
    font-size: 16px;
    color: grey;
}

.increase-amount:hover {
    font-size: 17px;
    color: black;
}

.decrease-amount:hover {
    font-size: 17px;
    color: black;
}