.bg-white {
    background-color: white;
}

.logo {
    font-family: 'Major Mono Display', monospace;
    font-size: 2rem;
    /* font-family: 'Roboto Mono', monospace; */
}

.navbar-icons .icon{
    color: black;
}

.icon {
    font-size: 30px;
}

body {
    background-color: rgba(0,0,0,0.30);
}

.shadow-card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


input {
    padding: 5px;
    border: solid 1px gray;
    border-radius: 5px;
}

.login-facebook {
    font-weight: 500 !important;
}

.btn-facebook {
    color: #fff;
    font-weight: 400;
    background-color: #3B5998;
    border-color: #3B5998;
  }
  
.btn-facebook:hover {
    color: #3B5998;
    background-color: transparent;
    background-image: none;
    border-color: #3B5998;
    font-weight: 500;
}

.btn-google {
    color: #fff;
    font-weight: 400;
    background-color: #D44638;
    border-color: #D44638;
  }
  
.btn-google:hover {
    color: #D44638;
    background-color: transparent;
    background-image: none;
    border-color: #D44638;
    font-weight: 500;
}